import sys
import signal
{{- range .Imports}}
import {{.}}
{{- end}}
signal.signal(signal.SIGPIPE, signal.SIG_DFL)
{{- with .Init}}
{{.}}
{{- end}}
try:
  for x in sys.stdin:
    x = x.rstrip()
    {{.Map}}
except BrokenPipeError:
  pass
{{- with .Reduce}}
{{.}}
{{- end}}
