name: CI

permissions: {}

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    timeout-minutes: 5
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: "go.mod"
          check-latest: true
          cache-dependency-path: go.sum
      - name: Setup Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version-file: '.python-version'
      - name: Install pipenv
        run: pip install --user pipenv
      - name: Setup Rust
        run: |
          set -e
          rustup set profile minimal
          rustup install stable
      - name: Lint
        run: ./task lint
      - name: Test
        run: ./task test
      - name: Build
        run: ./task build
