name: CI

permissions: {}

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    timeout-minutes: 5
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Setup Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: "go.mod"
          check-latest: true
          cache-dependency-path: go.sum
      - name: Setup Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version-file: '.python-version'
      - name: Install pipenv
        run: pip install --user pipenv
      - name: Setup Rust
        run: |
          set -e
          rustup set profile minimal
          rustup install stable
      - name: Lint
        run: ./task lint
      - name: Test
        run: ./task test
      - name: Build
        run: ./task build
